.about-container {
  display: flex;
  flex-direction: column;
  margin: 80px 13vw 0 18vw;
  padding-top: 60px;
  /* flex-direction: row; */
  gap: 50px;
}
.about-container .about-header {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}
.profile-photo {
  /* margin-left: 50px; */
  height: fit-content;
  padding: 0;
  /* width: 100%; */
}
.para-1 {
  font-size: 22px;
  width: 100%;
}
.aboutMe-text {
  display: flex;
  gap: 40px;
}
.profile-photo .heading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 100px;
  color: #ffaf4b;
}

.profile-photo .img {
  width: 100%;
  z-index: -3;
  height: 100%;
  margin-top: 75px;
  border-radius: 5%;
}

.about-container .name {
  line-height: 85px;
  position: absolute;
  right: 6.5vw;
  padding-top: 75px;
  width: 110px;
  overflow-wrap: break-word;
  color: #ffaf4b;
  text-transform: uppercase;
  z-index: 0;
  font-size: 100px;
  font-family: "Intro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    -86deg,
    #ffe1a0 5%,
    #f67280 53%,
    #ffaf4b 91%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  background-clip: text;
  /* color: #2c2c2c; */
  color: black;
}

.about-container .aboutMe-text .para-2 {
  font-size: 22px;
  font-weight: 200;
  color: #fff;
  height: fit-content;
  width: 100%;
}

.aboutMe-text span {
  color: #ffaf4b;
}
.para-2 span {
  color: #ffaf4b;
}
.mid-para_small span {
  color: #ffaf4b;
}
.about-container .aboutMe-text h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-container .aboutMe-text .resume {
  color: #ffaf4b;
  border-bottom: 2.5px solid #ffaf4b;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 800;
}

.about-container .aboutMe-text .resume:hover {
  transform: scale(1.05);
}
.para-2 {
  display: none;
}
.mid-para_small {
  display: none;
}
@media screen and (max-width: 1800px) {
  .para-1 {
    font-size: 17px;
    width: 100%;
  }
}
@media screen and (max-width: 1560px) {
  .para-2 {
    font-size: 17px;
  }
  .para-2 {
    display: block;
  }
  .para-2_large {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .about-container .aboutMe-text {
    font-size: 16px;
  }
  .about-container .name {
    font-size: 80px;
    width: 80px;
    line-height: 70px;
    right: 8vw;
  }
}
@media screen and (max-width: 1250px) {
  .mid-para {
    display: none;
  }
  .mid-para_small {
    display: block;
  }
  .img {
    margin-top: 0px;
  }
  .profile-photo {
    height: -moz-fit-content;
    padding: 0;
    width: 65%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (max-width: 925px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  .profile-photo {
    display: none;
  }
  .heading,
  .about-container .name {
    display: none;
  }

  .about-container .aboutMe-text {
    text-align: center;
  }
  .mid-para_small {
    display: block;
    text-align: center;
  }
  .img {
    display: none;
    /* margin-top: 50px; */
    max-width: 400px;
  }
  .para-2 {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .about-container {
    margin-left: 9vw;
    margin-top: 0;
    padding-top: 70px;
  }
}
